{% extends 'access_control/base.html' %}{% load crispy_forms_tags %}
{% block content %}
<div class="pagetitle">
  {% if messages %} {% for message in messages %}
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
    {% endfor %} {% endif %}
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      
      <!-- Left side columns -->
      <div class="col-lg-12">
        <script type="text/javascript">
          $(document).ready( function () {
            $('#dataTable').DataTable({
                 dom: '<"dt-top-container"<l><"dt-center-in-div"B><f>r>t<"dt-filter-spacer"><ip>',
          buttons: [{ extend: 'spacer', style: 'bar', text: 'Export:   '
                    },
            { extend: 'copy', className: 'btn btn-primary glyphicon glyphicon-duplicate', title: 'Open Requests-{% now 'Y-M-d' %}' },
            { extend: 'csv', className: 'btn btn-primary glyphicon glyphicon-save-file', title: 'Open Requests-{% now 'Y-M-d' %}' },
            { extend: 'excel', className: 'btn btn-primary glyphicon glyphicon-list-alt', title: 'Open Requests-{% now 'Y-M-d' %}' },
            { extend: 'pdf', className: 'btn btn-primary glyphicon glyphicon-file', title: 'Open Requests-{% now 'Y-M-d' %}' } ]
            });
        } );
        </script>
        <div class="row">
          <!-- Recent Requests -->
          <div class="col-12">
            <div class="card" style="border-radius: 7px;">
              <br>
                <div class="well-sm col-sm-12" style="padding-right: 22px;">
                  <button type="button" style="float: right;" class="btn btn-primary mt-1" data-bs-toggle="modal" data-bs-target="#verticalycentered2"><i class="bi bi-plus-square"></i>
                    New User
                  </button>
                  <div class="modal fade" id="verticalycentered2" tabindex="-1">
                    <div class="modal-dialog modal-dialog-scrollable modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Create New User</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body mx-1">   
                  <!--begin::Form-->
      <form 
      class="row gy-4" 
      method="POST"
      action="{% url 'users:user-create'%}"
      enctype="multipart/form-data"
      >
                    {% csrf_token %}
                    {{ form.as_table}}
      
                    <div class="d-grid gap-2">
                                    
                      <div class = "btn-group fill-right py-3">
                        <button type="submit" class="btn btn-primary">
                          Create User
                        </button>
                        <button
                      type="submit"
                      class="btn btn-secondary mx-2"
                      data-bs-dismiss="modal"
                    >
                      Cancel
                    </button>
                      </div>
                      </div>
      
            <!--end::Col-->
        <!--end::Input group-->
      </form>
      <!--end::Form-->
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div><!--end::Modal-->
            
              <div class="card-body" >
                <h5 class="card-title" style="color: black;">All Users</h5>
                

                <table id="dataTable" class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col" style="text-align:left">Staff ID</th>
                      <th scope="col" style="text-align:left">Name</th>
                      <th scope="col" style="text-align:left">Email</th>
                      <th scope="col" style="text-align:left">Role</th>
                      <th scope="col" style="text-align:left">Branch</th>
                      <th scope="col" style="text-align:left">User Type</th>
                      <th scope="col" style="text-align:left">Status</th>
                      <th scope="col" style="text-align:left">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for u in users %}
                    <tr style="text-align:left">
                        <th scope="row"><a href="{% url 'access_control:user-action' u.id %}" >#{{u.staff_id}}</a></th>
                        <td>{{u }}</td>
                        <td>{{ u.email }}</td>
                        <td>{{ u.role }}</td>
                        <td>{{ u.get_branch_display}}</td>
                        <td>{{u.get_user_type_display }}</td>
                        <td>
                          {% if  u.is_delete_requested %}
                            Pending Account Deletion
                          {% elif u.is_active %}
                            Active
                            {% else %}
                            Pending Account Creation
                          {% endif %}
                        </td>
                        <th style="text-align:left" scope="row">
                          <a href="{% url 'access_control:user-action' u.id %}" ><i class="bi bi-eye-fill" data-toggle="tooltip" data-placement="top" title="Close"></i></a>
                          
                            
                        </th>
                      </tr>
                    {% endfor %}
                    
                    
                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End Recent Sales -->

        </div>
      </div><!-- End Left side columns -->

    </div>
  </section> 
  
{% endblock %}